
body {
    text-align: center;  /* for IE */
    background-color: #DFDFE1;
}


div#wrapper {
    text-align:left; /* reset text alignment */
    width:980px; /* or a percentage, or whatever */
    margin:0 auto; /* for the rest */
}

#navbar {
    background-color: #8EC1CC;
    padding: 5px 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar a:hover,
#navbar a:active,
#navbar a:focus
{
    color: white;
}

#banner {
    background-color: #448C9A;
    padding: 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: flex;
}

#banner img {
    border: none;
}

#banner .logo {
    width: 280px;
}

#banner .logo > img {
    width: 130px;
}

#banner .banner-text {
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maintitle {
    color: white;
    font-size: 28pt;
    font-weight: bold;
}
